// Place all the styles related to the cart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cartproducts {
  padding-top: 20px;
  margin-left: 200px;
}

.cartButtons a {
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  margin-left: 5px;
  font: black;
  border-radius: 5px;
}

.books {
  text-decoration: none;
}
