// Place all the styles related to the order controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.continueShopping a {
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

.placeOrder a {
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}
