<form class="checkoutForm">

  <p>
    Name :
    <input type="text" name="shopper" required>
  </p>
  <p>
    Email :
    <input type="text" name="email" required>
  </p>
  <p>
    Address :
    <input type="text" name="address" required>
  </p>
  <p>
    Phone Number :
    <input type="number" name="phonenumber" required>
  </p>

  <p class="placeOrder"> <a href='/order/checkout'> Place Your Order </a> </p>
</form>
